body {
    margin: 1rem;
    font-family: 'Spartan', sans-serif;
}

p {
    font-size: 15px;
}

.heading-card {
    text-align: center;
    color: hsl(300, 43%, 22%);
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.heading-card h1 {
    font-weight: 700;
}

.star-rating-container {
    margin-bottom: 3rem;
}

.star-rating-card {
    background-color: hsl(300, 24%, 96%);
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
    margin: 1rem;
}

.star-rating-card p {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin: 0;
}

.stars5 {
    background-image: url(./images/icon-star.svg);
    background-repeat: space;
    height: 1rem;
    width: 6rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}