body {
    margin: 1rem;
    font-family: 'Spartan', sans-serif;
}

p {
    font-size: 15px;
}

.heading-card {
    text-align: center;
    color: hsl(300, 43%, 22%);
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.heading-card h1 {
    font-weight: 700;
}

.star-rating-container {
    margin-bottom: 3rem;
}

.star-rating-card {
    background-color: hsl(300, 24%, 96%);
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
    margin: 1rem;
}

.star-rating-card p {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin: 0;
}

.stars5 {
    background-image: url(./images/icon-star.svg);
    background-repeat: space;
    height: 1rem;
    width: 6rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.review-card {
    background-color: hsl(300, 43%, 22%);
    color: white;
    padding: 1rem;
    margin: 20px 0;
    border-radius: 10px;
}

.review-card .reviewer-picture {
    float: left;
    width: 50px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 5px;
}

.review-card .reviewer, .review-card .verified {
    margin: 0;
    margin-left: 5rem;
}

.review-card .reviewer {
    margin-top: 20px;
    font-weight: 500;
}

.review-card .verified {
    color: hsl(333, 80%, 67%);
    margin-top: 5px;
    margin-bottom: 30px;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 992px) {

html {
    height: 100vh;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(10px, auto);
    height: 100vh;
    box-sizing: border-box;
    /* margin: 3rem 7rem; */
}

.heading-card {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: start;
    margin: 0;
    margin-right: 50%;
    display: flex;
    flex-direction: column;
}

.heading-card h1 {
    margin-top: 0;
}

.star-rating-container {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.star-rating-card {
    width: 27rem;
    padding: 1rem 0;
    margin: .5rem;
    display: flex;
    justify-content: start;
}

.star-rating-card:nth-child(2) {
    align-self: center;
}

.star-rating-card:nth-child(3) {
    align-self: flex-end;
}

.stars5, .star-rating-container p {
    display: inline-block;
}

.stars5 {
    margin: 0 1.5rem;
}

.review-container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-card {
    width: 340px
}


}